<!doctype html>
<html lang="en">

<head>
    <title>Shopping List Check Off</title>
    <script src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
        .emptyMessage {
            font-weight: bold;
            color: red;
            font-size: 1.2em;
        }

        li {
            margin-bottom: 7px;
            font-size: 1.2em;
        }

        li>button {
            margin-left: 6px;
        }

        button>span {
            color: green;
        }
    </style>
</head>

<body ng-app="ShoppingListApp">
    <div class="container">
        <h1>Shopping List Check Off</h1>

        <div class="row">

            <!-- To Buy List -->
            <div class="col-md-6" ng-controller="ShoppingListController as ctrl">
                <h2>To Buy:</h2>
                <ul ng-repeat="item in ctrl.items">

                    <li> Buy {{item.itemQuantity}} {{item.itemName}} <button ng-click="ctrl.removeItem($index,item.itemQuantity,item.itemName)" class="btn btn-default"> <span ng-if="item.checkedFlag" class="glyphicon glyphicon-ok"></span>{{item.itemMessage}}</button>                        </li>
                </ul>
                <button class="btn btn-default" ng-click="ctrl.isAllBought()" ng-if="!ctrl.isAllBoughtFlag"> Please check out !!!</button>
                <div class="emptyMessage" ng-if="ctrl.isAllBoughtFlag">Everything is bought! {{ctrl.name}}</div>
            </div>

            <!-- Already Bought List -->
            <div class="col-md-6">
                <h2>Bought List</h2>
                <div ng-controller="BoughtListController as ctrl">
                    <ul ng-repeat="item in ctrl.items">
                        <li ng-if="item.itemName !=''">{{item.itemName}} and {{item.itemQuantity}} </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

</body>

</html>
